.activeData{
    text-align: left;
}
.activeData .icon{
   margin-right: 0.2rem;
}
.notfound{
    text-align: center;
}
@media screen and (max-width:1300px) {
    .activeData span{
        display: none;  
    }
 
    .activeData .icon{
        margin-right: 0rem;
     }
}